@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    fonts-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body, html {
    color: #fff;
    background-color: #000000;    
}

a, a:hover, a:visited {
    color: unset;
    text-decoration: none;
}


/* Header Section/Seção do cabeçalho */
header {
    background: linear-gradient(180deg, #102347 0%, #181818 100%);
    height: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dsmeta-logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dsmeta-logo-container img {
    width: 235px;
}

.dsmeta-logo-container h1 {
    margin-top: 15px;
    font-size: 24px;
}


.dsmeta-logo-container p {
    font-weight: 300;
    font-size: 14px;
}



/* Report Section/Seção de relatório */
.dsmeta-card {
    background-color: #283142;
    border-radius: 10px;
    padding: 30px 10px;

}

.dsmeta-container {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}

#sales {
    padding: 40px 10px;
}

.dsmeta-sales-title {
    color: #676FFF;
    fonts-size: 24px;
    margin-bottom: 20px;
}

.dsmeta-form-control-container {
    margin-bottom: 16px;
    max-width: 300px;
}


.dsmeta-form-control {
    width: 100%;
    height: 46px;
    background-color: #1B2531;
    border: 1px solid #384459;
    border-radius: 5px;
    color: #9AAABE;
    font-size: 18px;
    padding: 0 20px;
}

.dsmeta-sales-table {
    width: 100%;
    border-spacing: 0;
}

.dsmeta-sales-table thead {
    height: 55px;
    font-size: 16px;
    color: #E9E9E9;
    font-weight: 700;
}

.dsmeta-sales-table tbody {
    height: 74px;
    font-size: 14px;
    color: #CFCFCF;
    font-weight: 400;
}































/* ======= Responsive/Responsividade ======= */
@media (max-width: 991px){

    html {
        font-size: 55%;
    }

}

@media (max-width: 768px){


}

@media (max-width: 450px){

    html {
        font-size: 50%;
    }

}



/* 
https://www.figma.com/file/EN1zFtk4eY3Jgmpgi9YaMG/DSMeta1?node-id=0%3A1 

https://www.w3schools.com/colors/colors_picker.asp
*/